html, body {
  position: fixed;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: antiquewhite;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Old versions of Firefox */
  user-select: none;
}
