<script>
  import 'chota'
  import CharacterSelectionScreen from './CharacterSelectionScreen.svelte'
  import GameScreen from './GameScreen.svelte'
  import GameOverScreen from './GameOverScreen.svelte'
  import { stage, Stage } from './stores.ts'
</script>

<main>
  {#if $stage === Stage.CharacterSelection}
    <CharacterSelectionScreen />
  {:else if $stage === Stage.Play}
    <GameScreen />
  {:else if $stage === Stage.GameOver}
    <GameOverScreen />
  {/if}
</main>
