<script>
  import { Container, Card, Row, Col, Button } from 'svelte-chota'
  import { characters, stage, Stage } from './stores.ts'

  function handleCardClick(character) {
    characters.toggle(character)
  }

  function handleSubmitButtonClick() {
    stage.update(_ => Stage.Play)
  }
</script>

<style>
  h1 {
    text-align: center;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32vh;
    margin: 2vh;
    text-align: center;
    font-size: 10vh;
  }
</style>

<Container>
  <h1>Qui joue ?</h1>
  <Row>
    {#each $characters as character}
      <Col size="4">
        <div class="card {character.active ? 'bg-light' : ''}" on:click={() => handleCardClick(character)}>
          {character.icon}
        </div>
      </Col>
    {/each}
  </Row>
  <Row class="is-center">
    <Button
      primary
      style="font-size: 2em;"
      class="is-full-width"
      disabled={!Object.values($characters).some(char => char.active)}
      on:click={handleSubmitButtonClick}>
      C'est parti !
    </Button>
  </Row>
</Container>
