<script>
  import { Container, Card, Row, Col, Button, Tag } from 'svelte-chota'
  import { fade, slide, fly } from 'svelte/transition'
  import { characters, cells, characterTurn } from './stores.ts'
  import { Item } from './item.ts'

  const currentCharacter = characters.findActiveFrom($characterTurn)
</script>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1vmin;
    padding: 1vmin;
    height: 100vh;
    width: 100vh;
    background-color: antiquewhite;
  }

  .screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vh;
  }

  #characterPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 2vmin;
  }

  .avatar {
    font-size: 10vh;
  }
</style>

<div class="screen">
  <div class="card" id="characterPage">
    <div class="avatar">{currentCharacter.icon}</div>

    <div>
      <h4>Butin</h4>
      <Tag large>{currentCharacter.loot}</Tag>

      <h4>Score</h4>
      <Tag large>{currentCharacter.score}</Tag>
    </div>
  </div>
  <div class="grid">
    {#each $cells as cell}
      {#if cell.visible}
        <div class="card" on:click={() => (cell.visible = !cell.visible)}>{Item[cell.item].icon}</div>
      {:else}
        <div class="card bg-dark" on:click={() => (cell.visible = !cell.visible)} />
      {/if}
    {/each}
  </div>
</div>
