<script>
  import { Card, Input, Button } from 'svelte-chota'
  let button_text = 'Hover me'
</script>

<Card class="is-rounded text-center" style="height:100px; width:100px" title="Hello">
  <h1>Hey!</h1>
</Card>
<Input placeholder="What you want?" />
<Button
  on:mouseenter={e => (button_text = "Don't touch me!")}
  on:mouseleave={e => (button_text = 'Ok, hover me again')}>
  {button_text}
</Button>
